* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000033;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

/* Start of Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.logo {
  height: 80px;
  width: 80px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  list-style-type: none;
  margin: 1em;
}

.items a:link,
.items a:visited {
  color: #fff;
}

.items a:hover {
  padding: 1px;
  background-color: #0075f6;
  border-radius: 50px;
}

/* End of Header */

/* Start of Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000033;
  gap: 2em;
  margin-top: 1em;
  max-width: 100%;
}
.hero-box {
  width: 90%;
  border-radius: 30px;
  background: linear-gradient(145deg, #00002e, #000037);
  box-shadow: 26px 26px 52px #000023, -26px -26px 52px #000043;
  margin: 2em;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero-details-container {
  text-align: center;
  padding: 50px;
}

.hero-name {
  font-size: 80px;
  color: #0075f6;
}
.hero-details {
  color: #fff;
  font-size: 50px;
}
.main-img {
  width: 100%;
  max-width: 800px;
}

.quote-container {
  width: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/background2.png);
  padding: 2em;
}
/* End of Hero */

/* Start of About */

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000033;
  padding: 5px;
}
.about-box {
  width: 90%;
  border-radius: 30px;

  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 2em;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  color: #0075f6;
  text-align: center;
  font-size: 40px;
  padding: 1em 0;
}

.about-content {
  text-align: center;
  padding: 1em;
}

.about-img {
  width: 100%;
  padding: 2em;
}
/* End of About */

/* Start of Skills */

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.skill-box {
  width: 90%;
  border-radius: 30px;
  background: linear-gradient(145deg, #00002e, #000037);
  box-shadow: 26px 26px 52px #000023, -26px -26px 52px #000043;
  margin: 2em;
}

.skill-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0075f6;
  font-size: 40px;
  margin-top: 1em;
  padding: 30px;
}

.skill-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  padding: 30px;
}

.html-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #ff491e;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}
.fa-html5 {
  font-size: 300px;
  color: #ff491e;
}

.fa-css3-alt {
  font-size: 300px;
  color: #0073be;
}

.css-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #0073be;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.html-img:hover {
  box-shadow: #ff491e 0px 22px 70px 4px;
}

.css-img:hover {
  box-shadow: #0075f6 0px 22px 70px 4px;
}
/* End of Skills */

/* Start of Projects */

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
  gap: 3em;
}
.project-box {
  width: 90%;
  border-radius: 30px;
  background: linear-gradient(145deg, #00002e, #000037);
  box-shadow: 26px 26px 52px #000023, -26px -26px 52px #000043;
  margin: 2em;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0075f6;
  font-size: 40px;
  padding: 50px;
}

.project-img-content {
  width: 100%;
  max-width: 200px;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 50px;
}

.project-img-container {
  padding: 30px;
  background-color: #27374d;
  border: 1px solid #fff;
}

.project-img {
  text-align: center;
}

.project-img-title {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px;
  margin-top: 1em;
  color: #fff;
}

.fa-circle-chevron-up {
  font-size: 40px;
  color: #0075f6;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.project-img-container:hover {
  box-shadow: #a5d7e8 0px 22px 70px 4px;
}

/* End of Projects */

/* Start of Contact */

.contact-container {
  background-color: #000033;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contact-box {
  width: 80%;
  border-radius: 30px;

  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 2em;
  padding: 1.5em;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 30px 20px;
  font-size: 40px;
  list-style: none;
}
.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 40px;
  color: #0075f6;
}

.icons i {
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: f;
  align-items: center;
  gap: 1em;
}

.name-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contact-icons p {
  display: none;
}
/* End of Contact */

/* Start of Footer */

.footer-container {
  background-color: #000000;
  margin-top: 1em;
  padding: 10px;
}

.footer-container {
  color: #fff;
  text-align: center;
}

/* End of Footer */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .hero-details-container,
  .image-container {
    padding: 20px;
  }
  .hero-box {
    padding: 5em;
    border-radius: 30px;
    background: linear-gradient(145deg, #00002e, #000037);
    box-shadow: 26px 26px 52px #000023, -26px -26px 52px #000043;
    margin: 2em;
  }

  .main-img {
    max-width: 500px;
  }
  .about-container {
    background-color: #000033;
  }

  .about-content {
    flex-direction: row-reverse;
  }
  .about-box {
    border-radius: 30px;
  }
  .skill-box {
    border-radius: 30px;
  }
  .skill-img {
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
  }

  .skill-title,
  .skill-img {
    padding: 85px;
  }

  .project-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form input[type="text"] {
    background-color: #ffffff;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form textarea {
    font-size: 14px;

    border: 1px solid #d6d9dc;
    border-radius: 3px;

    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  }
}
